<!-- src/partials/about.html -->
<section class="about" id="about">
    <div class="container">
        <h2 class="about-section-title">About <span class="about-section-ttl-active">Us</span></h2>
        <p class="about-text-title">We are dedicated to providing engaging and
            effective English language courses in a supportive
            and stimulating learning environment</p>
        <div class="about-content-wrapper">
            <ul class="about-list">
                <li class="about-item">
                    <div class="about-icon">
                        <h3 class="about-title">01</h3>
                        <p class="about-text">Expert, innovative teaching staff</p>
                    </div>
                </li>
                <li class="about-item">
                    <div class="about-icon">
                        <h3 class="about-title">02</h3>
                        <p class="about-text">Wide range of course levels and options</p>
                    </div>
                </li>
                <li class="about-item">
                    <div class="about-icon">
                        <h3 class="about-title">03</h3>
                        <p class="about-text">Multicultural learning environment</p>
                    </div>
                </li>
                <li class="about-item">
                    <div class="about-icon">
                        <h3 class="about-title">04</h3>
                        <p class="about-text">Comprehensive language support services</p>
                    </div>
                </li>
            </ul>
            <div class="about-card-memoji">
                <svg width="254" height="211" class="about-svg-memoji">
                    <use href="./img/memoji.svg"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
