<!-- src/partials/footer.html -->
<footer class="footer" id="footer">
  <div class="footer-container container">
    <div class="logo_address_wrapper">
      <div class="address_wrapper">
        <a class="footer_logo" href="#"
          >english<span class="logo-span">excellence</span>.</a
        >

        <address class="footer-address">
          <ul class="address_list">
            <li class="address_item">
              <p class="address-label">Phone number:</p>
              <a class="contact-link" href="tel:+380684439428"
                >+380 (68) 443-94-28</a
              >
            </li>
            <li class="address_item">
              <p class="address-label">Address:</p>
              <a
                class="contact-link"
                href="https://www.google.com/maps/place/22%D0%B0,+prosp.+Mykoly+Bazhana,+Kyiv,+02000"
                target="_blank"
                rel="noopener noreferrer nofollow"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>

      <nav class="footer-nav">
        <ul class="nav-list">
          <li><a href="#about" class="current nav-link">About us</a></li>
          <li>
            <a href="#lessons" class="current nav-link">Our lessons</a>
          </li>
          <li><a href="#teachers" class="current nav-link">Teachers</a></li>
          <li><a href="#reviews" class="current nav-link">Reviews</a></li>
          <li>
            <a href="#contact" class="current nav-link">Contact us</a>
          </li>
        </ul>
      </nav>

      <ul class="social-list">
        <li class="social_list__item">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
            rel="noopener"
            aria-label="We are on Facebook"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="{=$icon-path}#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social_list__item">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
            rel="noopener"
            aria-label="We are on Instagram"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="{=$icon-path}#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social_list__item">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="social-link"
            rel="noopener"
            aria-label="We are on YouTube"
          >
            <svg class="social-icon" width="28" height="28">
              <use href="{=$icon-path}#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-bottom">
      <p class="footer-copyright">
        &copy;2023 English Excellence. All rights reserved.
      </p>
      <div class="footer-policy">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
