<!-- src/partials/hero.html -->
<section class="hero" id="hero">
  <div class="container">
    <h1 class="hero-title">Discover the joy of learning 
      <span class="hero-title-span">English</span> with us!
    </h1>
    <a href="#footer" class="btn-leave-app" aria-label="Go to the contact form for communication">Leave an application</a>
    <a href="#footer" class="hero-scroll-link" aria-label="Go to the footer section">
      <svg width="20" height="20" class="hero-scroll-svg">
        <use href="./img/sprite.svg#scroll"></use>
      </svg>
    </a>
  </div>
</section>
