<!-- src/partials/hero.html -->
<section class="hero section" id="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      Discover the joy of learning
      <span class="hero-title-span">English</span> with us!
    </h1>
    <a
      href="#contact"
      class="btn-leave-app"
      aria-label="go to the contact form for communication"
      >Leave an application</a
    >
    <a
      href="#contact"
      class="hero-scroll-link"
      aria-label="go to the contact section"
    >
      <svg width="20" height="20" class="hero-scroll-svg">
        <use href="./img/sprite.svg#scroll"></use>
      </svg>
    </a>
  </div>
</section>
