<!-- src/partials/proposal.html -->
<section class="proposal" id="proposal">
  <h2>Proposal to leave an application</h2>
  <div class="container">
    <h2>Master the Language with Our English Package!</h2>
    <div>
      <h3 class="proposal_h2">Power of English</h3>
      <ul class="proposal_ul">
        <li class="proposal_li">Dive into captivating lessons designed to stimulate your curiosity.</li>
        <li class="proposal_li">Learn in a nurturing setting where every student's progress matters.</li>
        <li class="proposal_li">Experience the satisfaction of real progress as your language skills and confidence grow
          with every session.</li>
      </ul>
      <a href="" class="button"></a>
      <img src="" alt="">
    </div>
  </div>
</section>
