<!-- src/partials/proposal.html -->
<section class="section proposal" id="proposal">
  <div class="container package_content">
    <h2 class="visually_hidden">Proposal to leave an application</h2>
    <h3 class="package_master">Master the <span class="green-text">Language</span> with Our English Package!</h3>
    <div class="package_details">
      <div class="power_of_english">
        <h3>Power of English</h3>
        <ul>
          <li><span class="check_mark">✔</span> Dive into captivating lessons designed to stimulate your curiosity.</li>
          <li><span class="check_mark">✔</span> Learn in a nurturing setting where every student's progress matters.</li>
          <li><span class="check_mark">✔</span> Experience the satisfaction of real progress as your language skills and
            confidence grow with every session.</li>
        </ul>
        <a href="#" class="apply_button">Leave an application</a>
      </div>
      <div class="image_placeholder">
        <!-- Здесь можно разместить изображение стопки книг или заменить на <img> -->
        <img src="books-stack.png" alt="Stack of books" class="foto_proposal"/>
      </div>
    </div>
  </div>
</section>
