<!-- === REVIEWS SECTION === -->
<section class="reviews section" id="reviews">
  <div class="container">
    <div class="title-container">
      <h2 class="title-name">
        What our <span class="underline">students</span> say
      </h2>
      <p class="paragraph-reviews">
        Hear from our students about their learning journey with us, as they
        share their experiences, progress, and the transformative impact
      </p>
    </div>

    <ul class="list-reviews">
      <!-- CARD 1 -->
      <li class="item-list">
        <div class="title-item-list">
          <picture>
            <source
              srcset="./img/anna.avif 1x, ./img/anna@2x.avif 2x"
              type="image/avif"
            />
            <source
              srcset="./img/anna.jpg 1x, ./img/anna@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              class="card-img"
              src="./img/anna.jpg"
              alt="Photo of Anna"
              loading="lazy"
              width="50"
              height="50"
            />
          </picture>
          <div class="card-info">
            <h3 class="title-card">Anna</h3>
            <p class="paragraph-card">Student</p>
          </div>
        </div>
        <p class="text-reviews">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>

      <!-- CARD 2 -->
      <li class="item-list">
        <div class="title-item-list">
          <picture>
            <source
              srcset="./img/mykhailo.avif 1x, ./img/mykhailo@2x.avif 2x"
              type="image/avif"
            />
            <source
              srcset="./img/mykhailo.jpg 1x, ./img/mykhailo@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              class="card-img"
              src="./img/mykhailo.jpg"
              alt="Photo of Mykhailo"
              loading="lazy"
              width="50"
              height="50"
            />
          </picture>
          <div class="card-info">
            <h3 class="title-card">Mykhailo</h3>
            <p class="paragraph-card">Student</p>
          </div>
        </div>
        <p class="text-reviews">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>

      <!-- CARD 3 -->
      <li class="item-list">
        <div class="title-item-list">
          <picture>
            <source
              srcset="./img/victoria.avif 1x, ./img/victoria@2x.avif 2x"
              type="image/avif"
            />
            <source
              srcset="./img/victoria.jpg 1x, ./img/victoria@2x.jpg 2x"
              type="image/jpeg"
            />
            <img
              class="card-img"
              src="./img/victoria.jpg"
              alt="Photo of Victoria"
              loading="lazy"
              width="50"
              height="50"
            />
          </picture>
          <div class="card-info">
            <h3 class="title-card">Victoria</h3>
            <p class="paragraph-card">Student</p>
          </div>
        </div>
        <p class="text-reviews">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
