<!-- src/partials/reviews.html -->
<section class="reviews" id="reviews">
  <!-- region reviews -->
  <section class="reviews">
    <div class="container">
      <div class="ttl-container">
        <h2 class="ttl-name">What our students say</h2>
        <p class="paragraph-reviews">
          Hear from our students about their learning journey with us, as they
          share their experiences, progress, and the transformative impact
        </p>
      </div>
    </div>
    <div class="cards-container">
      <ul class="list-reviews">
        <li class="item-list">
          <div class="ttl-item-list">
            <svg class="card-svg"></svg>
            <h3 class="ttl-card">Anna</h3>
            <p class="paragraph-card">Student</p>
          </div>
          <p class="text-reviews">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <li class="item-list">
          <div class="ttl-item-list">
            <svg class="card-svg"></svg>
            <h3 class="ttl-card">Mykhailo</h3>
            <p class="paragraph-card">Student</p>
          </div>
          <p class="text-reviews">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <li class="item-list">
          <div class="ttl-item-list">
            <svg class="card-svg"></svg>
            <h3 class="ttl-card">Victoria</h3>
            <p class="paragraph-card">Student</p>
          </div>
          <p class="text-reviews">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
    </div>
  </section>

  <!-- endregion reviews -->
</section>
