<!-- src/partials/teachers.html -->
<section class="team" id="teachers">
    <div class="container">
        <h2 class="team-title">Meet our teachers</h2>
        <p class="team-text">Discover our team of dedicated educators,
            committed to guiding you on your journey to English proficiency
            with personalized and engaging instruction</p>
        <ul class="team-list">
            <li class="team-card">
                <img srcset="./img/maria.jpg 1x, ./img/maria@2x.jpg 2x" src="./img/maria.jpg" width="150"
                    height="150" alt="teacher Maria">
                <div class="team-card-text">
                    <h3 class="team-card-title">Maria</h3>
                    <p class="team-text">A seasoned linguist and our primary specialist in
                        beginner-level instruction, Maria brings warmth and
                        patience to every class</p>
                </div>
            </li>
            <li class="team-card">
                <img srcset="./img/artem.jpg 1x, ./img/artem@2x.jpg 2x" src="./img/artem.jpg" width="150"
                    height="150" alt="teacher Artem">
                <div class="team-card-text">
                    <h3 class="team-card-title">Artem</h3>
                    <p class="team-text">With his innovative teaching techniques and a focus
                        on interactive learning, Artem excels in keeping
                        students engaged and motivated</p>
                </div>
            </li>
            <li class="team-card">
                <img srcset="./img/ilona.jpg 1x, ./img/ilona@2x.jpg 2x" src="./img/ilona.jpg" width="150"
                    height="150" alt="teacher Ilona">
                <div class="team-card-text">
                    <h3 class="team-card-title">Ilona</h3>
                    <p class="team-text">A specialist in advanced English, Ilona provides
                        intensive instruction, ensuring students gain
                        confidence in complex language tasks</p>
                </div>
            </li>
            <li class="team-card">
                <img srcset="./img/volodymyr.jpg 1x, ./img/volodymyr@2x.jpg 2x" src="./img/volodymyr.jpg" width="150"
                    height="150" alt="teacher Volodymyr">
                <div class="team-card-text">
                    <h3 class="team-card-title">Volodymyr</h3>
                    <p class="team-text">Our expert in English for specific purposes,
                        Volodymyr tailors his approach to meet individual
                        career and industry-specific language needs</p>
                </div>
            </li>
        </ul>
    </div>
</section>
