.header {
  padding: 21px 0;
}

.header {
  padding-bottom: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo-header {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
  text-decoration: none;
  color: #121417;
}

.logo-studio {
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0em;
  color: #4DC274;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  stroke: #121417;
}

.list-menu {
  display: none;
  gap: 20px;
  padding: 0;
  align-items: center;
}

.menu {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0em;
  color: #121417;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .menu {
    padding: 14px 0;
  }
}

.menu.current {
  position: relative;
  transition: transform 250ms ease;
}

.menu.current::after,
.menu.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 37px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff00;
}

.menu.current:hover::after,
.menu.current:focus::after {
  background-color: #4DC274;
}

.menu:hover,
.menu:focus {
  color: #121417;
}


/* ------------- mobile menu --------------------------*/

.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 0px;
  right: 240px;
  width: 240px;
  height: 100%;
  border-radius: 4px;
  transform: translate(100%, 0%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #4DC274;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 47px;
  }

  .modal {
    right: 384px;
    width: 384px;
    min-height: 584px;
  }
}

.backdrop:not(.is-open) .modal {
  transform: translate(100%, 0%);
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
}

.modal-icon-close {
  stroke: #fff;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  border: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #404bbf;
  /* fill: #ffffff; */
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}

.mobile-list-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  align-items: center;
}

.mobile-menu-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0em;
  color: #fff;
  text-decoration: none;
  padding: 0;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
  color: var(--buttonbackcol);
}

.mobile-tsl-list {
  list-style: none;
  width: 150px;
  display: flex;
  padding: 0;
  gap: 12px;
  justify-content: center;
}

.tsl-list-social-icon {
  width: 42px;
  height: 42px;
}

.mobile-tsl-list {
  display: none;
}

.is-open .mobile-tsl-list {
  display: flex;
}

.tsl-item {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF1A;
  border-radius: 10px;
}


/* .tsl-item {} */

.tsl-svg {
  fill: #fff;
  opacity: 80%;
}

.tsl-item:hover,
.tsl-item:focus {
  border: 1px solid #1214171A;

  .tsl-svg {
    fill: #121417;
    opacity: 80%;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 36px;
  }

  .logo-header {
    margin-right: 138px;
  }

  .mobile-menu {
    display: none;
  }

  .social-link-wrapper {
    display: flex;
  }

  .list-menu {
    display: flex;
  }

  .burger-btn {
    display: none;
  }

  .tsl-item {
    border: 1px solid #1214171A;
    border-radius: 8px;
  }

  .tsl-svg {
    fill: #121417;
    opacity: 80%;
  }

  .tsl-item:hover,
  .tsl-item:focus {
    border: 1px solid #4dc2741a;
  }

  .tsl-item:hover .tsl-svg,
  .tsl-item:focus .tsl-svg {
    fill: #4DC274;
    opacity: 80%;
  }
}