.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.proposal {
  margin: 0 auto;
  display: flex;
  text-align: left;
  border-radius: 30px;
  min-height: 737px;
  background: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);
  max-width: 335px;
  overflow: hidden;
}

.package_content {
  position: relative;
  border-radius: 16px;
}

.package_master {
  margin-bottom: 65px;
  font-size: 38px;
  line-height: 105%;
  color: #FFFFFF;
}

.green_text {
  color: #BEE8CC;
}

.package_details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  /* min-height: 400px; */
  background-color: #FFFFFF;
  margin-bottom: 10px;
  border-radius: 16px;
  z-index: 1;
}

.package_details::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 16px;
  position: absolute;
  transform-origin: center;
  pointer-events: none;
  background: #D4FDE1;
  transform: rotate(9deg);
  z-index: -1;
}

.package_details::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -0%;
  left: -0%;
  border-radius: 16px;
  position: absolute;
  transform-origin: center;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
  transform: rotate(-11deg);
  z-index: -1;
}

.proposal_title {
  text-align: start;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.power_of_english {
  width: 100%;
  padding: 40px 20px;
  border-radius: 16px;
  background-color: #FFFFFF;
}

.proposal_list {
  margin-bottom: 20px;
  text-align: start;
}

.proposal_elem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.check_mark_cont {
  display: flex;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--green);
}

.check_mark {
  width: 12px;
  height: 12px;
  fill: #FFFFFF;
}

.li_text {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
}

.apply_button {
  width: 306px;
  height: 48px;
  background-color: #4CAF50;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply_button:hover,
.apply_button:focus {
  background-color: #FFFFFF;
  color: #4CAF50;
}

.image_placeholder {
  display: none;
}

@media only screen and (min-width: 768px) {
  .proposal {
    max-width: 704px;
    margin: 0 auto;
    padding: 60px 0;
  }

  .proposal_title {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .proposal_list {
    margin-bottom: 32px;
  }

  .proposal_elem {
    margin-bottom: 16px;
  }

  .power_of_english {
    padding: 60px 40px;
    display: flex;
  }

  .li_text {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
  }

  .check_mark_cont {
    width: 28px;
    height: 28px;
  }

  .check_mark {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
  }

  .power_of_english_wrapper {
    min-width: 450px;
    margin-right: 20px;
  }

  .image_placeholder {
    margin-top: auto;
    display: block;
    width: 214px;
    height: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .proposal {
    max-width: 1182px;
    margin: 0 auto;
    padding: 75px 0;
  }

  .package_content {
    max-width: 1152px;
    padding: 0 64px;
  }

  .power_of_english_wrapper {
    min-width: 600px;
    margin-right: 90px;
  }

  .package_master {
    font-size: 48px;
    margin-bottom: 132px;
  }

  .proposal_title {
    margin-bottom: 39px;
  }

  .power_of_english {
    padding: 64px;
    ;
  }

  .proposal_elem {
    margin-bottom: 18px;
  }

  .photo_proposal {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .proposal_list {
    margin-bottom: 40px;
  }

  .check_mark_cont {
    width: 28px;
    height: 28px;
    fill: #FFFFFF;
  }

  .check_mark {
    width: 16px;
    height: 16px;
    fill: #FFFFFF;
  }
}